---
layout: default

---
   
    {{ content }}


			<div class="wrap-contact2">
				<form action="https://formspree.io/carlossoares.cg@gmail.com" method="POST">

					<div class="wrap-input2">
						<input class="input2" type="text" name="name">
						<span class="focus-input2" data-placeholder="name"></span>
					</div>
					<div class="wrap-input2">
						<input class="input2" type="text" name="_replyto" required>
						<span class="focus-input2" data-placeholder="email"></span>
					</div>
					<div class="wrap-input2">
						<textarea class="input2" name="message"></textarea>
						<span class="focus-input2" data-placeholder="message"></span>
					</div>
					<input type="submit" class="button" value="send">
				</form>
			</div>
	
