---
layout: default

---

<div class="home">
		 <div class="index-banner">
		 	<section>
			<div class="vertical-center">
			<p> <h7 data-shadow=''>Digital problem solver that gives a damn.</h7> </p> 
			</div>
		</section>
		</div>	
  


<center>My latest Work</center> 
<div class="featured">
      {% for post in site.posts %}
      {% if post.featured == true %} 
    <a href="{{ post.url }}">
    <ul class="post-list-home">
   
      <li style="background-image:{{ post.featuredbanner }};">
       
      </li>
 {% endif %}
  {% endfor %}

    </ul>
    </a>

<br>
</div>
<center><a class="page-link" href="/work.html">all projects</a></center>



</div>