---
layout: default

---
  <header class="post-header">


    <h1 style="color: {{page.color}};" class="post-title p-name">{{ page.title | escape }}</h1>
   
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span class="p-author h-card">{{ page.author | escape }}</span>
      {%- endif -%}</p>

  </header>

 {%- if page.prototype -%}
  <div class="post-content e-content">
    {{ content }}
  </div>
  <div class="resp-container">
    <iframe class="resp-iframe" src="{{ page.prototype }}" allowfullscreen></iframe>
  </div>
 {%- endif -%}

  {%- if page.behance -%}
  <br>
    <h3><a href="{{ page.behance }}">check this project on behance</a></h3>
  
 {%- endif -%}


</article>

